MYTREE_DEMO_MODE=1
MYTREE_DATA_DIR=/data
MYTREE_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
MYTREE_ANDROID_LATEST_VERSION=0.1-alpha1-lot12-rc16.18.3-demo
MYTREE_ANDROID_MIN_VERSION=0.1-alpha1

MYTREE_DB_PATH=./mytree-demo.db
MYTREE_DEMO_RESET_ON_START=0
